
@import 'Library/_library.scss';
@import 'Layout/_layout.scss';
@import 'Components/_components.scss';
@import 'Pages/_pages.scss';

a:focus,
a:active,
a:hover,
a {
    box-shadow: none !important;
    text-decoration: none;
}

.user-select-none {
    user-select: none;
}

.cursor-pointer {
    cursor: pointer;
}
.align-items-center{
    align-items:center;
}

.text-caption {
    color: #546b81;
    font-size: small;
}

.btn.btn-outline-error {
    border-color: #e85600;
    color: #e85600;
}

.btn.btn-outline-error:focus, .btn.btn-outline-error:hover {
    background: #ffeee5;
}

.btn.btn-outline-error:active, .btn.btn-outline-error.active {
    background: #e85600;
    color: #fff;
}

.empty {
    background-color: transparent;
    border: 1px solid lightgray;
}

.sticky-header {
    justify-content: space-between;
    align-items: center;
}
