
@import 'Library/_library.scss';
@import 'Layout/_layout.scss';
@import 'Components/_components.scss';
@import 'Pages/_pages.scss';

a:focus,
a:active,
a:hover,
a{
    box-shadow: none !important;
    text-decoration:none;
}

.user-select-none{
    user-select: none;
}

.text-caption {
    color: #546b81;
    font-size: small;
}

