@page
@using Humanizer;
@model App.Pages.Project.IndexModel
@{
    ViewData["Title"] = "Index";
}

    <div class="p-5 flex-column d-flex">
        <h1>Projects</h1>
        <a asp-page="/project/Add" type="button" class="btn btn-outline-success align-self-end m-0">Create project</a>
        @if (Model.Projects.Any())
        {
            <div class="row m-0 mt-3">
                <div class="card-deck">
                    @foreach (var project in Model.Projects)
                    {
                        <a asp-page="/Project/Details" asp-route-id="@project.Id">
                            <div class="card mb-4" style="min-width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">@project.Title</h5>
                                    <p class="card-text">@project.Description</p>
                                    <p class="card-text"><small class="text-muted">Last modified @project.DateCreated.Humanize()</small></p>
                                </div>
                            </div>
                        </a>
                    }
                </div>
            </div>
        }
        else
        {
            <p>No project, create a project</p>
        }

    </div>

