@page
@using Humanizer;
@model App.Pages.Project.IndexModel
@{
    ViewData["Title"] = "Projects";
}

<div class="sticky-header">
    <h3>Projects</h3>
</div>


<div class="clearfix">
    <a asp-page="/project/Add" type="button" class="btn btn-outline-success float-right">Create project</a>
</div>
@if (Model.Projects.Any())
{
    <div class="columns">

        @foreach (var project in Model.Projects)
        {
            <a asp-page="/Project/Details" asp-route-id="@project.Id" class="column col-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title h5">@project.Title</div>
                        <div class="card-subtitle text-gray">@project.SubHeading</div>
                    </div>
                    <div class="card-body text-clip">@project.Description</div>
                </div>
            </a>
        }
    </div>
}
else
{
    <p>No project, create a project</p>
}

@section Scripts{
    <script>
        var inputs = document.getElementsByClassName('tags');
        for (input in inputs) {
            var tagify = new Tagify(input);
        }
    </script>
}


