@page
@using Humanizer;
@model App.Pages.Project.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h3 class="s-title">Projects</h3>

<a asp-page="/project/Add" type="button" class="btn btn-outline-success align-self-end m-0">Create project</a>
@if (Model.Projects.Any())
{
    <div class="columns">

        @foreach (var project in Model.Projects)
        {
            <a asp-page="/Project/Details" asp-route-id="@project.Id" class="column col-3 col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title h5">@project.Title</div>
                        <div class="card-subtitle text-gray">Last modified @project.DateCreated.Humanize()</div>
                    </div>
                    <div class="card-body">@project.Description</div>
                    <div class="card-footer">
                        <div class="btn btn-primary" href="#cards">Example</div>
                    </div>
                </div>
            </a>
        }
    </div>

}
else
{
    <p>No project, create a project</p>
}


