textarea {
    border: 1px solid rgba(73, 73, 73, 0.5);
    border-radius: 3px;
    font-family: "Source Code Pro", monospace;
    font-size: 13px;
    line-height: 20px;
    padding: 4px;
}

.CodeMirror {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100% !important;
    color: #4a4a4a;
    font-family: "Source Code Pro", monospace;
    font-size: 13px;
    line-height: 20px;
}

.CodeMirror-fullscreen {
    position: fixed !important;
}

.CodeMirror-gutters {
    border-right: 0;
    padding-right: 1px;
}

.CodeMirror-linenumber {
    font-family: "Source Code Pro", monospace;
    font-size: 13px;
    line-height: 20px;
}

.CodeMirror-activeline-gutter {
    background: rgba(87, 193, 250, 0.15);
}

.cm-s-eclipse .CodeMirror-activeline-background {
    background: rgba(87, 193, 250, 0.15);
}

.CodeMirror-lint-marker-error {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M 0 8 C 0 12.416 3.584 16 8 16 C 12.416 16 16 12.416 16 8 C 16 3.584 12.416 0 8 0 C 3.584 0 0 3.584 0 8 Z" fill="#d54c53" /><path d="M 8 7.0807611 L 4.92408548 4.00484658 L 4.0048467 4.92408537 L 7.08076122 7.99999988 L 4.0048467 11.0759144 L 4.92408548 11.9951532 L 8 8.91923866 L 11.0759145 11.9951532 L 11.9951533 11.0759144 L 8.91923878 7.99999988 L 11.9951533 4.92408537 L 11.0759145 4.00484658 L 8 7.0807611 Z" fill="#fff" /></svg>') no-repeat center center;
    margin-left: 2px;
    margin-top: -4px;
}

.CodeMirror-lint-tooltip {
    background: white;
    font-family: "Source Code Pro", monospace;
    font-size: 12px;
    line-height: 16px;
    padding: 8px;
    border: none;
    border-radius: 2px;
    box-shadow: rgba(74, 74, 74, 0.25) 0 0 0 1px, rgba(0, 0, 0, 0.1) 0 1px 6px 0;
}

.CodeMirror-lint-message-error {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M 0 8 C 0 12.416 3.584 16 8 16 C 12.416 16 16 12.416 16 8 C 16 3.584 12.416 0 8 0 C 3.584 0 0 3.584 0 8 Z" fill="#d54c53" /><path d="M 8 7.0807611 L 4.92408548 4.00484658 L 4.0048467 4.92408537 L 7.08076122 7.99999988 L 4.0048467 11.0759144 L 4.92408548 11.9951532 L 8 8.91923866 L 11.0759145 11.9951532 L 11.9951533 11.0759144 L 8.91923878 7.99999988 L 11.9951533 4.92408537 L 11.0759145 4.00484658 L 8 7.0807611 Z" fill="#fff" /></svg>') no-repeat 0 0;
    padding-left: 24px;
}

.cm-s-eclipse span.cm-string {
    color: #1997b5;
}

.cm-s-eclipse span.cm-string.cm-property {
    color: #53b10b;
}