.accordian-table {
    header {
        display: grid;
        grid-template-columns: auto 260px;
        grid-column-gap: 6px;
        padding: 12px 0 12px 0;

        p {
            margin-bottom: 0;
            font-size: 12px;
            font-weight: 600;
            color: #7f90a0;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    .accordion-wrapper {
        background-color: #fff;
        border: 1px solid #e9ecef;
        border-radius: 2px;

        .accordion {
            border-bottom: 1px solid #e9ecef;

            &:last-child {
                border: none;
            }
        }

        .accordion-header {
            display: grid;
            grid-template-columns: min-content auto 200px 38px;
            grid-column-gap: 6px;
            -ms-flex-align: center;
            align-items: center;
            padding: 12px 12px 12px 12px;
            cursor: pointer;

            .btn {
                border: none;
                color: black;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .accordion-body {
            background-color: #f7f8f9;
            margin: 0px;

            > div {
                padding: 20px;
            }
        }
    }
}