<footer>
    <p>Designed and built by <a href="https://github.com/IeuanWalker/Email.io" target="_blank">Ieuan Walker</a>. Licensed under the <a href="https://github.com/IeuanWalker/Email.io/blob/master/Licence.txt" target="_blank">LGPL-3.0 License</a>.</p>
</footer>
