@{
    @inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
}
<div class="sidebar-mobile-icon">
    <a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar" aria-label="Open menu"><i class="icon icon-menu"></i></a>
</div>
<div class="sidebar off-canvas-sidebar" id="sidebar">
    <div class="brand">
        <a class="logo" asp-page="/Index">
            <h2>Email.io</h2><small class="label label-secondary text-bold">@hostingEnv.EnvironmentName</small>
        </a>
    </div>
    <div class="nav">
        <a class="nav-item" asp-area="" asp-page="/Project/Index">Projects</a>
        <a class="nav-item">Design library</a>
        <a class="nav-item">Docs</a>
        <div class="nav-item accordion">
            <input id="accordion-getting-started" type="checkbox" hidden="" />
            <label for="accordion-getting-started">Settings</label>
            <div class="accordion-body">
                <ul class="menu menu-nav">
                    <li class="menu-item">
                        <a href="#">Appearance</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Users access</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">SMTP Senders</a>
                    </li>
                    <li class="menu-item">
                        <a href="/dev/hangfire">Hangfire</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<a class="off-canvas-overlay" href="#close" aria-label="Close menu"></a>