.chars-length {
    background-color: whitesmoke;
    display: inline-block;
    margin: 4px 0 0;
    padding: 5px 10px;
    text-align: center;
    float: right;
    font-size: smaller
}

.warn {
    background-color: firebrick;
    color: #fff;
}
