@using System.Security.Claims;
@using Database.Models;
@{
    @inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
}
<div class="sidebar-mobile-icon">
    <a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar" aria-label="Open menu"><i class="icon icon-menu"></i></a>
</div>
<div class="sidebar off-canvas-sidebar" id="sidebar">
    <div class="brand">
        <a class="logo" asp-page="/index">
            <h2>Email.io</h2><small class="label label-secondary text-bold">@hostingEnv.EnvironmentName</small>
        </a>
    </div>

    <div class="nav">
        <a class="nav-item" asp-area="" asp-page="/project/index">Projects</a>
        <div class="accordion nav-item">
            <input id="accordion-docs" type="checkbox" hidden="" />
            <label for="accordion-docs">Docs</label>
            <div class="accordion-body m-0">
                <ul class="menu menu-nav">
                    <li class="menu-item">
                        <a href="#">API</a>
                    </li>
                    <li class="menu-item">
                        <a href="#">Admin site</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="accordion nav-item">
            <input id="accordion-Settings" type="checkbox" hidden="" />
            <label for="accordion-Settings">Settings</label>
            <div class="accordion-body m-0">
                <ul class="menu menu-nav">
                    <li class="menu-item">
                        <a href="#">Appearance</a>
                    </li>
                    @if (User.IsInRole(UserRoles.Admin.ToString()))
                    {
                        <li class="menu-item">
                            <a asp-page="/Users">Users</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">SMTP Senders</a>
                        </li>
                        <li class="menu-item">
                            <a href="/dev/hangfire">Hangfire</a>
                        </li>
                    }
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <li class="menu-item">
                            <a asp-area="" asp-page="/account/index" asp-route-slug="@User.FindFirstValue("DisplayName")-@User.FindFirstValue("UserId")">Account</a>
                        </li>

                        <li class="menu-item">
                            <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">
                                Logout
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="menu-item">
                            <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">
                                Login
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<a class="off-canvas-overlay" href="#close" aria-label="Close menu"></a>