@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="p-5">
        <h1>Home</h1>
        <button type="button" class="btn btn-outline-success">Create project</button>
        <div class="row mt-5">
            <div class="card-deck">
                @for (var i = 10; i < 21; i++)
                {
                <div class="card mb-4" style="min-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">I'm baby jianbing schlitz messenger bag, flannel woke brunch +1 austin kale chips drinking vinegar meh vinyl blog wolf tumeric. Celiac ugh drinking vinegar</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                }
            </div>
    </div>