@page
@model App.Pages.Template1Model
@{
    ViewData["Title"] = "Template";
    Layout = "_LayoutTemplate";
}

@section Styles
{
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <style>
        html, body {
            height: 100%;
            padding: 0;
            display: flex;
            flex-direction: column
        }

        .grid {
            display: grid;
            flex-grow: 1;
            grid-template-columns: 0.5fr 10px 1fr;
        }

        .template-divider {
            grid-area: 1 / 2;
            height: auto;
            margin: 0px;
            opacity: 0.5;
            background-color: lightgray;
            cursor: col-resize;
            transition: opacity 0.3s;
        }

            .template-divider:hover,
            .template-divider:active {
                opacity: 1;
            }

        .preview {
            display: flex;
            flex-direction: column
        }

        .subject {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid lightgray;
        }

            .subject > p {
                margin: 0;
            }

        .demo-content,
        iframe {
            flex-grow: 1;
            display: flex
        }

        .navbar {
            border: 1px solid lightgray;
        }

            .navbar a {
                text-decoration: none;
            }

        .navbar-menu-item {
            padding: 25px 40px;
            text-transform: capitalize;
            text-decoration: none;
        }

            .navbar-menu-item:hover {
                background-color: lightgray;
            }








        .test-responsive-navbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            border-bottom: 1px solid lightgray;
        }

            .test-responsive-navbar ul {
                list-style: none;
                margin: 0 auto;
                display: block;
                padding: 0;
            }

                .test-responsive-navbar ul li {
                    display: inline;
                }

                    .test-responsive-navbar ul li a {
                        text-indent: -9999px;
                        font-size: 0;
                        margin: 0 15px;
                    }

                        .test-responsive-navbar ul li a svg {
                            width: 60px;
                            height: 50px;
                            pointer-events: all;
                            color: #999;
                        }

                        .test-responsive-navbar ul li a[data-portsize*="320"] svg {
                            width: 14px;
                        }

                        .test-responsive-navbar ul li a[data-portsize*="768"] svg {
                            width: 20px;
                        }

                        .test-responsive-navbar ul li a[data-portsize*="1024"] svg {
                            width: 28px;
                        }

                        .test-responsive-navbar ul li a[data-portsize*="reset"] svg {
                            width: 41px;
                        }

        svg .sg-fill {
            fill: transparent;
            transition: fill 0.3s;
        }

        .test-responsive-navbar ul li svg:hover {
            color: #ccc;
            transition: color 0.3s;
        }

        .test-responsive-navbar ul li .fr-active svg {
            color: #3634d2;
        }

        .demo-content {
            width: 100%;
            display: flex;
            margin: 0 auto;
            background-color: #ccc;
            border: 12px solid #ddd;
        }

        .codemirror-wrapper {
            position: absolute;
            flex-grow: 1;
            width: 100%;
            height: 100%;
        }

        .CodeMirror {
            height: 100%;
        }
    </style>

    <style>

        textarea {
            border: 1px solid rgba(73, 73, 73, 0.5);
            border-radius: 3px;
            font-family: "Source Code Pro", monospace;
            font-size: 13px;
            line-height: 20px;
            padding: 4px;
        }

        .CodeMirror {
            position: absolute !important;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100% !important;
            color: #4a4a4a;
            font-family: "Source Code Pro", monospace;
            font-size: 13px;
            line-height: 20px;
        }

        .CodeMirror-gutters {
            border-right: 0;
            padding-right: 1px;
        }

        .CodeMirror-linenumber {
            font-family: "Source Code Pro", monospace;
            font-size: 13px;
            line-height: 20px;
        }

        .CodeMirror-activeline-gutter {
            background: rgba(87, 193, 250, 0.15);
        }

        .cm-s-eclipse .CodeMirror-activeline-background {
            background: rgba(87, 193, 250, 0.15);
        }

        .CodeMirror-lint-marker-error {
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M 0 8 C 0 12.416 3.584 16 8 16 C 12.416 16 16 12.416 16 8 C 16 3.584 12.416 0 8 0 C 3.584 0 0 3.584 0 8 Z" fill="#d54c53" /><path d="M 8 7.0807611 L 4.92408548 4.00484658 L 4.0048467 4.92408537 L 7.08076122 7.99999988 L 4.0048467 11.0759144 L 4.92408548 11.9951532 L 8 8.91923866 L 11.0759145 11.9951532 L 11.9951533 11.0759144 L 8.91923878 7.99999988 L 11.9951533 4.92408537 L 11.0759145 4.00484658 L 8 7.0807611 Z" fill="#fff" /></svg>') no-repeat center center;
            margin-left: 2px;
            margin-top: -4px;
        }

        .CodeMirror-lint-tooltip {
            background: white;
            font-family: "Source Code Pro", monospace;
            font-size: 12px;
            line-height: 16px;
            padding: 8px;
            border: none;
            border-radius: 2px;
            box-shadow: rgba(74, 74, 74, 0.25) 0 0 0 1px, rgba(0, 0, 0, 0.1) 0 1px 6px 0;
        }

        .CodeMirror-lint-message-error {
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M 0 8 C 0 12.416 3.584 16 8 16 C 12.416 16 16 12.416 16 8 C 16 3.584 12.416 0 8 0 C 3.584 0 0 3.584 0 8 Z" fill="#d54c53" /><path d="M 8 7.0807611 L 4.92408548 4.00484658 L 4.0048467 4.92408537 L 7.08076122 7.99999988 L 4.0048467 11.0759144 L 4.92408548 11.9951532 L 8 8.91923866 L 11.0759145 11.9951532 L 11.9951533 11.0759144 L 8.91923878 7.99999988 L 11.9951533 4.92408537 L 11.0759145 4.00484658 L 8 7.0807611 Z" fill="#fff" /></svg>') no-repeat 0 0;
            padding-left: 24px;
        }

        .cm-s-eclipse span.cm-string {
            color: #1997b5;
        }

            .cm-s-eclipse span.cm-string.cm-property {
                color: #53b10b;
            }
    </style>
    <style>

        /* Tabs menu */
        .template-navbar {
            margin: 0;
            background-color: white;
            display: flex;
            align-items: center;
            height: 80px;
            border-radius: 2px 2px 0px 0px;
            border-bottom: 1px solid lightgray;
        }
        /* Tab Links */
        .template-navbar-buttons {
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 0px 30px;
            height: 80px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-family: "IBM Plex Sans", sans-serif;
            overflow: hidden;
            transition: 0.3s ease;
        }

            .template-navbar-buttons:hover {
                background-color: #f1f1fc;
            }

            /* Tab active */
            .template-navbar-buttons.active {
                border-bottom: 5px solid #3634d2;
            }



            /* Tabs text */
            .template-navbar-buttons p {
                opacity: 0.6;
                font-family: 'Lato', sans-serif;
                align-items: center;
                justify-content: center;
                transition: 0.5s ease;
                font-weight: 400;
                margin: 0;
            }

            .template-navbar-buttons.active p {
                opacity: 1;
            }

            .template-navbar-buttons.active:hover p {
                color: #686868;
            }

            .template-navbar-buttons:hover p {
                opacity: 1;
            }

        /* tab content */
        .tabcontent {
            display: none;
        }

            .tabcontent.active {
                display: block;
            }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/codemirror.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/theme/eclipse.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/addon/lint/lint.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/addon/fold/foldgutter.min.css" />
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none"><symbol id="reset" viewbox="0 0 41.591 30" class="sg-resize-icon"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.364 29.5c-.476 0-.864-.388-.864-.864V1.364C.5.888.888.5 1.364.5h38.863c.477 0 .864.388.864.864v27.272c0 .476-.387.864-.863.864H1.364z" class="sg-fill"></path><path fill="currentColor" d="M40.227 1c.2 0 .364.163.364.364v27.273c0 .2-.162.364-.363.364H1.364c-.2 0-.364-.163-.364-.364V1.364c0-.2.163-.364.364-.364h38.863m0-1H1.364C.61 0 0 .61 0 1.364v27.273C0 29.39.61 30 1.364 30h38.864c.753 0 1.364-.61 1.364-1.364V1.364C41.592.61 40.98 0 40.227 0z" class="sg-stroke"></path></symbol><symbol id="1280" viewbox="0 0 38 30" class="sg-resize-icon"><path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M25 24v6H13v-6h12z" class="sg-stroke"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M27 29v1H11v-1h16zM1.02 0h35.96C37.545 0 38 .468 38 1.044v22.91c0 .578-.456 1.046-1.02 1.046H1.02C.455 25 0 24.532 0 23.956V1.044C0 .468.456 0 1.02 0z" class="sg-fill"></path><path d="M1.02 1L1 23.956 36.98 24 37 1.044 36.98 1M14 25h10v4H14z" class="sg-fill"></path><path fill="currentColor" d="M36.98 0H1.02C.455 0 0 .468 0 1.044v22.91C0 24.533.456 25 1.02 25H13v4h-2v1h16v-1h-2v-4h11.98c.564 0 1.02-.468 1.02-1.044V1.044C38 .468 37.544 0 36.98 0zM24 29H14v-4h10v4zm12.98-5L1 23.956 1.02 1h35.96l.02.044L36.98 24z" class="sg-stroke"></path></symbol><symbol id="1024" viewbox="0 0 28 30" class="sg-resize-icon"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.35 24.5c-.47 0-.85-.388-.85-.864V6.364c0-.476.38-.864.85-.864h25.3c.47 0 .85.388.85.864v17.272c0 .476-.38.864-.85.864H1.35z" class="sg-fill"></path><path fill="currentColor" d="M26.65 6c.193 0 .35.163.35.364v17.273c0 .2-.157.364-.35.364H1.35c-.193 0-.35-.163-.35-.364V6.364c0-.2.157-.364.35-.364h25.3m0-1H1.35C.603 5 0 5.61 0 6.364v17.273C0 24.39.604 25 1.35 25h25.3c.746 0 1.35-.61 1.35-1.364V6.364C28 5.61 27.396 5 26.65 5z" class="sg-stroke"></path><path fill="currentColor" d="M24 14c-.552 0-1 .448-1 1s.448 1 1 1 1-.448 1-1-.448-1-1-1z" class="sg-stroke"></path></symbol><symbol id="768" viewbox="0 0 20 30" class="sg-resize-icon"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.364 28.5c-.476 0-.864-.38-.864-.85V2.35c0-.47.388-.85.864-.85h17.273c.476 0 .863.38.863.85v25.3c0 .47-.388.85-.863.85H1.364z" class="sg-fill"></path><path fill="currentColor" d="M18.636 2c.2 0 .364.157.364.35v25.3c0 .193-.163.35-.364.35H1.364c-.2 0-.364-.157-.364-.35V2.35c0-.193.163-.35.364-.35h17.272m0-1H1.364C.61 1 0 1.604 0 2.35v25.3C0 28.397.61 29 1.364 29h17.273C19.39 29 20 28.396 20 27.65V2.35C20 1.603 19.39 1 18.636 1z" class="sg-stroke"></path><path fill="currentColor" d="M10 24c-.552 0-1 .448-1 1s.448 1 1 1 1-.448 1-1-.448-1-1-1z" class="sg-stroke"></path></symbol><symbol id="320" viewbox="0 0 14 30" class="sg-resize-icon"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.364 27.5c-.476 0-.864-.38-.864-.85v-16.3c0-.47.388-.85.864-.85h11.273c.476 0 .863.38.863.85v16.3c0 .47-.388.85-.863.85H1.364z" class="sg-fill"></path><path fill="currentColor" d="M12.636 10c.2 0 .364.157.364.35v16.3c0 .193-.163.35-.364.35H1.364c-.2 0-.364-.157-.364-.35v-16.3c0-.193.163-.35.364-.35h11.272m0-1H1.364C.61 9 0 9.604 0 10.35v16.3C0 27.397.61 28 1.364 28h11.273C13.39 28 14 27.396 14 26.65v-16.3C14 9.603 13.39 9 12.636 9z" class="sg-stroke"></path><path fill="currentColor" d="M7 23c-.552 0-1 .448-1 1s.448 1 1 1 1-.448 1-1-.448-1-1-1z" class="sg-stroke"></path></symbol></svg>
}


<header class="template-navbar">
    <button href="#" class="template-navbar-buttons"><p><i class="icon icon-back"></i></p></button>
    <button href="#" class="template-navbar-buttons tablinks active " data-tabId="codeContainer"><p> CODE</p></button>
    <button href="#" class="template-navbar-buttons tablinks mr-2" data-tabId="testDataContainer"><p>TEST DATA</p></button>
    <button href="#" class="btn btn-lg ml-2">Save</button>
</header>

<div class="grid">
    <div class="p-relative">
        <div id="codeContainer" class="tabcontent active">
            <textarea id="code"></textarea>
        </div>
        <div id="testDataContainer" class="tabcontent">
            <textarea id="testData"></textarea>
        </div>
    </div>
    <div class="preview">
        <div class="subject">
            <p><strong>Subject: </strong>Welcome to the family!</p>
        </div>
        <div class="test-responsive-navbar">
            <ul id="viewpr-list">
            </ul>
        </div>
        <div id="viewpr-content" class="demo-content">
            <iframe frameborder="0" id="preview-iframe"></iframe>
        </div>
    </div>

    <div class="template-divider"></div>
</div>




@section Scripts
{
    @*Resizeable column*@
    <script>
        Split({
            columnGutters: [{
                track: 1,
                element: document.querySelector('.template-divider'),
            }]
        })

    </script>

    @*Responsive tester*@
    <script src="js/viewpr.min.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            viewpr(params = {
                svg: true
            });
        }
    </script>

    @*Tabs*@
    <script type="text/javascript">
        var tabLinks = document.querySelectorAll(".tablinks");
        var tabContent = document.querySelectorAll(".tabcontent");


        tabLinks.forEach(function (el) {
            el.addEventListener("click", openTabs);
        });


        function openTabs(el) {
            var btnTarget = el.currentTarget;
            var tabId = btnTarget.getAttribute('data-tabId');
            tabContent.forEach(function (el) {
                el.classList.remove("active");
            });

            tabLinks.forEach(function (el) {
                el.classList.remove("active");
            });

            document.querySelector("#" + tabId).classList.add("active");

            btnTarget.classList.add("active");
        }
    </script>

    @*CodeMirror Shared*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/addon/selection/active-line.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/addon/lint/lint.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/addon/edit/closetag.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/addon/fold/foldcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/addon/fold/comment-fold.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/addon/fold/brace-fold.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/addon/fold/foldcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/addon/fold/foldgutter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/addon/fold/indent-fold.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/addon/display/autorefresh.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/mode/javascript/javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/addon/hint/javascript-hint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/addon/lint/javascript-lint.min.js"></script>



    @*CodeMirror JSON*@
    <script src="https://rawgithub.com/zaach/jsonlint/79b553fb65c192add9066da64043458981b3972b/lib/jsonlint.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.30.0/addon/lint/json-lint.js"></script>

    @*CodeMirror HTML*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/addon/hint/html-hint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/addon/lint/html-lint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/addon/hint/xml-hint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/addon/fold/xml-fold.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/mode/css/css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/addon/hint/css-hint.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.0/addon/lint/css-lint.min.js"></script>



    <script>
        let json = {
            phases: [
                {
                    id: "dev",
                    name: "Dev",
                    gates: [
                        {
                            id: "dev",
                            name: "Dev",
                            master: "https://loki.gauntlet.cloudbees.com/",
                            job: "cloudbees-cd-analytics/master",
                            feeds: "staging"
                        }]
                },



                {
                    id: "staging",
                    name: "Staging",
                    gates: [
                        {
                            id: "staging",
                            name: "Staging",
                            master: "https://loki.gauntlet.cloudbees.com/",
                            job: "cloudbees-cd-analytics/staging",
                            feeds: "production"
                        }]
                },



                {
                    id: "production",
                    name: "Production",
                    gates: [
                        {
                            id: "production",
                            name: "Production",
                            master: "https://loki.gauntlet.cloudbees.com/",
                            job: "prod-deploy/master"
                        }]
                }]
        };
        let testDataTextarea = document.getElementById("testData");
        let stringified = JSON.stringify(json, null, 2);
        testDataTextarea.value = stringified;

        let testDataEditor = CodeMirror.fromTextArea(testDataTextarea, {
            lineNumbers: true,
            border: true,
            theme: "eclipse",
            lineWrapping: false,
            mode: "application/json",
            gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter", "CodeMirror-lint-markers"],
            styleActiveLine: true,
            lint: true,
            autoRefresh: true
        });

        testDataEditor.on("change", function (resultEditor, change) {
            UpdatePreview();
        });
    </script>

    <script>
        let codeTextarea = document.getElementById("code");
        codeTextarea.value = '<html></html>';

        let codeEditor = CodeMirror.fromTextArea(codeTextarea, {
            lineNumbers: true,
            border: true,
            theme: "eclipse",
            HtmlMode: true,
            lineWrapping: false,
            mode: "text/html",
            gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter", "CodeMirror-lint-markers"],
            styleActiveLine: true,
            lint: true,
            foldGutter: true,
            autoCloseTags: true,
            autoRefresh: true
        });

        codeEditor.on("change", function (resultEditor, change) {
            UpdatePreview();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script>
        function UpdatePreview() {
            var template = Handlebars.compile(codeEditor.getValue());
            var compiled = template(JSON.parse(testDataEditor.getValue()));
            document.getElementById("preview-iframe").src = "data:text/html;charset=utf-8," + escape(compiled);
        }
    </script>
}




















<!--<link rel="stylesheet" href="~/lib/codemirror/lib/codemirror.css" />
<style>
    .tab-content {
        flex-grow: 1;
        overflow: auto;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .tab-pane {
        flex-grow: 1;
    }

    .codemirror-wrapper {
        position: absolute;
        flex-grow: 1;
        width: 100%;
        height: 100%;
    }

    .CodeMirror {
        height: 100%;
    }

    #app-content {
        height: 100%;
    }

    .split {
        box-sizing: border-box;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .content {
        display: flex;
        flex-direction: column;
        border: 1px solid transparent;
        background-color: #fff;
        border-left-color: lightgray;
        border-right-color: lightgray;
    }

    #preview {
        overflow: hidden;
    }

    iframe {
        height: 100%;
        width: 100%;
    }

    .gutter.gutter-horizontal {
        cursor: col-resize;
    }

    .split.split-horizontal,
    .gutter.gutter-horizontal {
        height: 100%;
        float: left;
    }
</style>

<div id="app-content">
    <div id="code" class="split content split-horizontal">
        <ul class="tab tab-block">
          <li class="tab-item active">
            <a href="#" class="active">Template</a>
          </li>
          <li class="tab-item">
            <a href="#">Test data</a>
          </li>
          <li class="tab-item">
            <a href="#">Result</a>
          </li>

        </ul>
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-template-tab" data-toggle="tab" href="#nav-template" role="tab" aria-controls="nav-home" aria-selected="true">Template</a>
                <a class="nav-item nav-link" id="nav-testdata-tab" data-toggle="tab" href="#nav-testdata" role="tab" aria-controls="nav-profile" aria-selected="false">Test data</a>
                <a class="nav-item nav-link" id="nav-result-tab" data-toggle="tab" href="#nav-result" role="tab" aria-controls="nav-contact" aria-selected="false">Result</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-template" role="tabpanel" aria-labelledby="nav-template-tab">
                <div class="codemirror-wrapper">
                    <textarea id="html-textarea" class="codearea">
&#x3C;!DOCTYPE html
    PUBLIC &#x22;-//W3C//DTD XHTML 1.0 Transitional//EN&#x22; &#x22;http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd&#x22;&#x3E;
&#x3C;html xmlns=&#x22;http://www.w3.org/1999/xhtml&#x22; xmlns:v=&#x22;urn:schemas-microsoft-com:vml&#x22;
    xmlns:o=&#x22;urn:schemas-microsoft-com:office:office&#x22;&#x3E;

&#x3C;head&#x3E;
    &#x3C;!--[if gte mso 9]&#x3E;
&#x9;&#x9;&#x9;&#x3C;xml&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;o:OfficeDocumentSettings&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x3C;o:AllowPNG /&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x3C;o:PixelsPerInch&#x3E;96&#x3C;/o:PixelsPerInch&#x3E;
&#x9;&#x9;&#x9;&#x9;&#x3C;/o:OfficeDocumentSettings&#x3E;
&#x9;&#x9;&#x9;&#x3C;/xml&#x3E;
&#x9;&#x9;&#x3C;![endif]--&#x3E;
    &#x3C;meta http-equiv=&#x22;Content-type&#x22; content=&#x22;text/html; charset=utf-8&#x22; /&#x3E;
    &#x3C;meta name=&#x22;viewport&#x22; content=&#x22;width=device-width, initial-scale=1, maximum-scale=1&#x22; /&#x3E;
    &#x3C;meta http-equiv=&#x22;X-UA-Compatible&#x22; content=&#x22;IE=edge&#x22; /&#x3E;
    &#x3C;meta name=&#x22;format-detection&#x22; content=&#x22;date=no&#x22; /&#x3E;
    &#x3C;meta name=&#x22;format-detection&#x22; content=&#x22;address=no&#x22; /&#x3E;
    &#x3C;meta name=&#x22;format-detection&#x22; content=&#x22;telephone=no&#x22; /&#x3E;
    &#x3C;meta name=&#x22;x-apple-disable-message-reformatting&#x22; /&#x3E;
    &#x3C;!--[if !mso]&#x3E;&#x3C;!--&#x3E;
    &#x3C;link href=&#x22;https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i&#x22; rel=&#x22;stylesheet&#x22; /&#x3E;
    &#x3C;!--&#x3C;![endif]--&#x3E;
    &#x3C;title&#x3E;Email Template&#x3C;/title&#x3E;
    &#x3C;!--[if gte mso 9]&#x3E;
&#x9;&#x9;&#x9;&#x3C;style type=&#x22;text/css&#x22; media=&#x22;all&#x22;&#x3E;
&#x9;&#x9;&#x9;&#x9;sup {
&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 100% !important;
&#x9;&#x9;&#x9;&#x9;}
&#x9;&#x9;&#x9;&#x3C;/style&#x3E;
&#x9;&#x9;&#x3C;![endif]--&#x3E;

    &#x3C;style type=&#x22;text/css&#x22; media=&#x22;screen&#x22;&#x3E;
        /* Linked Styles */
        body {
            padding: 0 !important;
            margin: 0 !important;
            display: block !important;
            min-width: 100% !important;
            width: 100% !important;
            background: #001736;
            -webkit-text-size-adjust: none;
        }

        a {
            color: #66c7ff;
            text-decoration: none;
        }

        p {
            padding: 0 !important;
            margin: 0 !important;
        }

        img {
            -ms-interpolation-mode: bicubic;
            /* Allow smoother rendering of resized image in Internet Explorer */
        }

        .mcnPreviewText {
            display: none !important;
        }

        /* Mobile styles */
        @@media only screen and (max-device-width: 480px),
        only screen and (max-width: 480px) {
            .mobile-shell {
                width: 100% !important;
                min-width: 100% !important;
            }

            .bg {
                background-size: 100% auto !important;
                -webkit-background-size: 100% auto !important;
            }

            .text-header,
            .m-center {
                text-align: center !important;
            }

            .center {
                margin: 0 auto !important;
            }

            .container {
                padding: 20px 10px !important;
            }

            .td {
                width: 100% !important;
                min-width: 100% !important;
            }

            .m-br-15 {
                height: 15px !important;
            }

            .p30-15 {
                padding: 30px 15px !important;
            }

            .m-td,
            .m-hide {
                display: none !important;
                width: 0 !important;
                height: 0 !important;
                font-size: 0 !important;
                line-height: 0 !important;
                min-height: 0 !important;
            }

            .m-block {
                display: block !important;
            }

            .fluid-img img {
                width: 100% !important;
                max-width: 100% !important;
                height: auto !important;
            }

            .column,
            .column-top,
            .column-empty,
            .column-empty2,
            .column-dir-top {
                float: left !important;
                width: 100% !important;
                display: block !important;
            }

            .column-empty {
                padding-bottom: 10px !important;
            }

            .column-empty2 {
                padding-bottom: 30px !important;
            }

            .content-spacing {
                width: 15px !important;
            }
        }
    &#x3C;/style&#x3E;
&#x3C;/head&#x3E;

&#x3C;body class=&#x22;body&#x22; style=&#x22;
&#x9;&#x9;&#x9;padding: 0 !important;
&#x9;&#x9;&#x9;margin: 0 !important;
&#x9;&#x9;&#x9;display: block !important;
&#x9;&#x9;&#x9;min-width: 100% !important;
&#x9;&#x9;&#x9;width: 100% !important;
&#x9;&#x9;&#x9;background: #001736;
&#x9;&#x9;&#x9;-webkit-text-size-adjust: none;
&#x9;&#x9;&#x22;&#x3E;
    &#x3C;table width=&#x22;100%&#x22; border=&#x22;0&#x22; cellspacing=&#x22;0&#x22; cellpadding=&#x22;0&#x22; bgcolor=&#x22;#001736&#x22;&#x3E;
        &#x3C;tr&#x3E;
            &#x3C;td align=&#x22;center&#x22; valign=&#x22;top&#x22;&#x3E;
                &#x3C;table width=&#x22;650&#x22; border=&#x22;0&#x22; cellspacing=&#x22;0&#x22; cellpadding=&#x22;0&#x22; class=&#x22;mobile-shell&#x22;&#x3E;
                    &#x3C;tr&#x3E;
                        &#x3C;td class=&#x22;td container&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;width: 650px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;min-width: 650px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 0pt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 0pt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;margin: 0;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-weight: normal;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding: 55px 0px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                            &#x3C;!-- Intro --&#x3E;
                            &#x3C;table width=&#x22;100%&#x22; border=&#x22;0&#x22; cellspacing=&#x22;0&#x22; cellpadding=&#x22;0&#x22;&#x3E;
                                &#x3C;tr&#x3E;
                                    &#x3C;td style=&#x22;padding-bottom: 10px;&#x22;&#x3E;
                                        &#x3C;table width=&#x22;100%&#x22; border=&#x22;0&#x22; cellspacing=&#x22;0&#x22; cellpadding=&#x22;0&#x22;&#x3E;
                                            &#x3C;tr&#x3E;
                                                &#x3C;td class=&#x22;tbrr p30-15&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding: 60px 30px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;border-radius: 26px 26px 0px 0px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22; bgcolor=&#x22;#12325c&#x22;&#x3E;
                                                    &#x3C;table width=&#x22;100%&#x22; border=&#x22;0&#x22; cellspacing=&#x22;0&#x22; cellpadding=&#x22;0&#x22;&#x3E;
                                                        &#x3C;tr&#x3E;
                                                            &#x3C;td class=&#x22;h1 pb25&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #ffffff;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-family: &#x27;Muli&#x27;, Arial, sans-serif;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 40px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 46px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: center;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding-bottom: 25px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                                Welcome, {{name}}
                                                            &#x3C;/td&#x3E;
                                                        &#x3C;/tr&#x3E;
                                                        &#x3C;tr&#x3E;
                                                            &#x3C;td class=&#x22;text-center pb25&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #c1cddc;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-family: &#x27;Muli&#x27;, Arial, sans-serif;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 16px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 30px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: center;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding-bottom: 25px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                                Lorem ipsum dolor sit amet, consectetur
                                                                adipisicing elit, sed do eiusmod
                                                                &#x3C;span class=&#x22;m-hide&#x22;&#x3E;&#x3C;br /&#x3E;&#x3C;/span&#x3E;tempor
                                                                incididunt ut labore et dolore magna aliqua.
                                                            &#x3C;/td&#x3E;
                                                        &#x3C;/tr&#x3E;
                                                    &#x3C;/table&#x3E;
                                                &#x3C;/td&#x3E;
                                            &#x3C;/tr&#x3E;
                                        &#x3C;/table&#x3E;
                                    &#x3C;/td&#x3E;
                                &#x3C;/tr&#x3E;
                            &#x3C;/table&#x3E;
                            &#x3C;!-- END Intro --&#x3E;

                            &#x3C;!-- Article / Full Width Image + Title + Copy + Button --&#x3E;
                            &#x3C;table width=&#x22;100%&#x22; border=&#x22;0&#x22; cellspacing=&#x22;0&#x22; cellpadding=&#x22;0&#x22;&#x3E;
                                &#x3C;tr&#x3E;
                                    &#x3C;td style=&#x22;padding-bottom: 10px;&#x22;&#x3E;
                                        &#x3C;table width=&#x22;100%&#x22; border=&#x22;0&#x22; cellspacing=&#x22;0&#x22; cellpadding=&#x22;0&#x22;
                                            bgcolor=&#x22;#0e264b&#x22;&#x3E;
                                            &#x3C;tr&#x3E;
                                                &#x3C;td class=&#x22;fluid-img&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 0pt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 0pt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: left;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                    &#x3C;img src=&#x22;https://www.yourtrainingedge.com/wp-content/uploads/2019/05/background-calm-clouds-747964.jpg&#x22;
                                                        width=&#x22;650&#x22; height=&#x22;366&#x22; border=&#x22;0&#x22; alt=&#x22;&#x22; /&#x3E;
                                                &#x3C;/td&#x3E;
                                            &#x3C;/tr&#x3E;
                                            &#x3C;tr&#x3E;
                                                &#x3C;td class=&#x22;p30-15&#x22; style=&#x22;padding: 50px 30px;&#x22;&#x3E;
                                                    &#x3C;table width=&#x22;100%&#x22; border=&#x22;0&#x22; cellspacing=&#x22;0&#x22; cellpadding=&#x22;0&#x22;&#x3E;
                                                        &#x3C;tr&#x3E;
                                                            &#x3C;td class=&#x22;h3 pb20&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #ffffff;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-family: &#x27;Muli&#x27;, Arial, sans-serif;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 25px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 32px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: left;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding-bottom: 20px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                                Lorem ipsum dolor sit amet
                                                            &#x3C;/td&#x3E;
                                                        &#x3C;/tr&#x3E;
                                                        &#x3C;tr&#x3E;
                                                            &#x3C;td class=&#x22;text pb20&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #ffffff;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-family: Arial, sans-serif;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 14px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 26px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: left;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding-bottom: 20px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                                Lorem ipsum dolor sit amet, consectetur
                                                                adipisicing elit, sed do eiusmod tempor
                                                                incididunt ut labore et dolore magna aliqua.
                                                                Ut enim ad minim veniam, quis nostrud
                                                                exercitation ullamco laboris nisi ut aliquip
                                                                ex ea commodo consequat.
                                                            &#x3C;/td&#x3E;
                                                        &#x3C;/tr&#x3E;
                                                        &#x3C;!-- Button --&#x3E;
                                                        &#x3C;tr&#x3E;
                                                            &#x3C;td align=&#x22;left&#x22;&#x3E;
                                                                &#x3C;table class=&#x22;center&#x22; border=&#x22;0&#x22; cellspacing=&#x22;0&#x22;
                                                                    cellpadding=&#x22;0&#x22; style=&#x22;text-align: center;&#x22;&#x3E;
                                                                    &#x3C;tr&#x3E;
                                                                        &#x3C;td class=&#x22;pink-button text-button&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;background: #ff6666;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #c1cddc;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-family: &#x27;Muli&#x27;, Arial, sans-serif;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 14px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 18px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding: 12px 30px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: center;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;border-radius: 0px 22px 22px 22px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-weight: bold;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                                            &#x3C;a href=&#x22;#&#x22; target=&#x22;_blank&#x22;
                                                                                class=&#x22;link-white&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #ffffff;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-decoration: none;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;&#x3C;span class=&#x22;link-white&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #ffffff;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-decoration: none;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;CLICK HERE&#x3C;/span&#x3E;&#x3C;/a&#x3E;
                                                                        &#x3C;/td&#x3E;
                                                                    &#x3C;/tr&#x3E;
                                                                &#x3C;/table&#x3E;
                                                            &#x3C;/td&#x3E;
                                                        &#x3C;/tr&#x3E;
                                                        &#x3C;!-- END Button --&#x3E;
                                                    &#x3C;/table&#x3E;
                                                &#x3C;/td&#x3E;
                                            &#x3C;/tr&#x3E;
                                        &#x3C;/table&#x3E;
                                    &#x3C;/td&#x3E;
                                &#x3C;/tr&#x3E;
                            &#x3C;/table&#x3E;
                            &#x3C;!-- END Article / Full Width Image + Title + Copy + Button --&#x3E;

                            &#x3C;!-- Two Columns / Articles --&#x3E;
                            &#x3C;table width=&#x22;100%&#x22; border=&#x22;0&#x22; cellspacing=&#x22;0&#x22; cellpadding=&#x22;0&#x22;&#x3E;
                                &#x3C;tr&#x3E;
                                    &#x3C;td style=&#x22;padding-bottom: 10px;&#x22;&#x3E;
                                        &#x3C;table width=&#x22;100%&#x22; border=&#x22;0&#x22; cellspacing=&#x22;0&#x22; cellpadding=&#x22;0&#x22;
                                            bgcolor=&#x22;#ff6666&#x22;&#x3E;
                                            &#x3C;tr&#x3E;
                                                &#x3C;td class=&#x22;p30-15&#x22; style=&#x22;padding: 50px 30px;&#x22;&#x3E;
                                                    &#x3C;table width=&#x22;100%&#x22; border=&#x22;0&#x22; cellspacing=&#x22;0&#x22; cellpadding=&#x22;0&#x22;&#x3E;
                                                        &#x3C;tr&#x3E;
                                                            &#x3C;th class=&#x22;column-top&#x22; width=&#x22;280&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 0pt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 0pt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding: 0;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;margin: 0;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-weight: normal;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;vertical-align: top;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                                &#x3C;table width=&#x22;100%&#x22; border=&#x22;0&#x22; cellspacing=&#x22;0&#x22;
                                                                    cellpadding=&#x22;0&#x22;&#x3E;
                                                                    &#x3C;tr&#x3E;
                                                                        &#x3C;td class=&#x22;fluid-img pb25&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 0pt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 0pt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: left;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding-bottom: 25px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                                            &#x3C;img src=&#x22;https://iso.500px.com/wp-content/uploads/2014/07/big-one.jpg&#x22;
                                                                                width=&#x22;280&#x22; height=&#x22;157&#x22; border=&#x22;0&#x22;
                                                                                alt=&#x22;&#x22; /&#x3E;
                                                                        &#x3C;/td&#x3E;
                                                                    &#x3C;/tr&#x3E;
                                                                    &#x3C;tr&#x3E;
                                                                        &#x3C;td class=&#x22;h4 pb20&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #ffffff;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-family: &#x27;Muli&#x27;, Arial, sans-serif;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 20px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 28px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: left;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding-bottom: 20px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                                            Lorem ipsum dolor sit amet, consectetur
                                                                            adipisicing
                                                                        &#x3C;/td&#x3E;
                                                                    &#x3C;/tr&#x3E;
                                                                    &#x3C;tr&#x3E;
                                                                        &#x3C;td class=&#x22;text pb20&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #ffffff;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-family: Arial, sans-serif;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 14px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 26px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: left;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding-bottom: 20px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                                            Magna aliqua. Ut enim ad minim veniam,
                                                                            quis nostrud exercitation ullamco
                                                                            laboris nisi ut aliquip ex ea commodo.
                                                                        &#x3C;/td&#x3E;
                                                                    &#x3C;/tr&#x3E;
                                                                    &#x3C;!-- Button --&#x3E;
                                                                    &#x3C;tr&#x3E;
                                                                        &#x3C;td align=&#x22;left&#x22;&#x3E;
                                                                            &#x3C;table border=&#x22;0&#x22; cellspacing=&#x22;0&#x22;
                                                                                cellpadding=&#x22;0&#x22;&#x3E;
                                                                                &#x3C;tr&#x3E;
                                                                                    &#x3C;td class=&#x22;dark-blue-button text-button&#x22;
                                                                                        style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;background: #12325c;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #c1cddc;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-family: &#x27;Muli&#x27;, Arial,
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;sans-serif;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 14px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 18px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding: 12px 30px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: center;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;border-radius: 0px 22px 22px
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;22px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-weight: bold;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                                                        &#x3C;a href=&#x22;#&#x22; target=&#x22;_blank&#x22;
                                                                                            class=&#x22;link-white&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #ffffff;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-decoration: none;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;&#x3C;span class=&#x22;link-white&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #ffffff;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-decoration: none;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;CALICK HERE&#x3C;/span&#x3E;&#x3C;/a&#x3E;
                                                                                    &#x3C;/td&#x3E;
                                                                                &#x3C;/tr&#x3E;
                                                                            &#x3C;/table&#x3E;
                                                                        &#x3C;/td&#x3E;
                                                                    &#x3C;/tr&#x3E;
                                                                    &#x3C;!-- END Button --&#x3E;
                                                                &#x3C;/table&#x3E;
                                                            &#x3C;/th&#x3E;
                                                            &#x3C;th class=&#x22;column-empty2&#x22; width=&#x22;30&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 0pt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 0pt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding: 0;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;margin: 0;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-weight: normal;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;vertical-align: top;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;&#x3C;/th&#x3E;
                                                            &#x3C;th class=&#x22;column-top&#x22; width=&#x22;280&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 0pt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 0pt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding: 0;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;margin: 0;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-weight: normal;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;vertical-align: top;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                                &#x3C;table width=&#x22;100%&#x22; border=&#x22;0&#x22; cellspacing=&#x22;0&#x22;
                                                                    cellpadding=&#x22;0&#x22;&#x3E;
                                                                    &#x3C;tr&#x3E;
                                                                        &#x3C;td class=&#x22;fluid-img pb25&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 0pt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 0pt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: left;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding-bottom: 25px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                                            &#x3C;img src=&#x22;https://www.lukas-petereit.com/wp-content/uploads/2018/08/Sunset-at-Verdon-Canyon-Landscape-of-Provence-Photography-in-France.jpg&#x22;
                                                                                width=&#x22;280&#x22; height=&#x22;157&#x22; border=&#x22;0&#x22;
                                                                                alt=&#x22;&#x22; /&#x3E;
                                                                        &#x3C;/td&#x3E;
                                                                    &#x3C;/tr&#x3E;
                                                                    &#x3C;tr&#x3E;
                                                                        &#x3C;td class=&#x22;h4 pb20&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #ffffff;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-family: &#x27;Muli&#x27;, Arial, sans-serif;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 20px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 28px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: left;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding-bottom: 20px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                                            Lorem ipsum dolor sit amet, consectetur
                                                                            adipisicing
                                                                        &#x3C;/td&#x3E;
                                                                    &#x3C;/tr&#x3E;
                                                                    &#x3C;tr&#x3E;
                                                                        &#x3C;td class=&#x22;text pb20&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #ffffff;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-family: Arial, sans-serif;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 14px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 26px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: left;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding-bottom: 20px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                                            Magna aliqua. Ut enim ad minim veniam,
                                                                            quis nostrud exercitation ullamco
                                                                            laboris nisi ut aliquip ex ea commodo.
                                                                        &#x3C;/td&#x3E;
                                                                    &#x3C;/tr&#x3E;
                                                                    &#x3C;!-- Button --&#x3E;
                                                                    &#x3C;tr&#x3E;
                                                                        &#x3C;td align=&#x22;left&#x22;&#x3E;
                                                                            &#x3C;table border=&#x22;0&#x22; cellspacing=&#x22;0&#x22;
                                                                                cellpadding=&#x22;0&#x22;&#x3E;
                                                                                &#x3C;tr&#x3E;
                                                                                    &#x3C;td class=&#x22;dark-blue-button text-button&#x22;
                                                                                        style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;background: #12325c;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #c1cddc;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-family: &#x27;Muli&#x27;, Arial,
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;sans-serif;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 14px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 18px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding: 12px 30px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: center;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;border-radius: 0px 22px 22px
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;22px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-weight: bold;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                                                        &#x3C;a href=&#x22;#&#x22; target=&#x22;_blank&#x22;
                                                                                            class=&#x22;link-white&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #ffffff;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-decoration: none;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;&#x3C;span class=&#x22;link-white&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #ffffff;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-decoration: none;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;CALICK HERE&#x3C;/span&#x3E;&#x3C;/a&#x3E;
                                                                                    &#x3C;/td&#x3E;
                                                                                &#x3C;/tr&#x3E;
                                                                            &#x3C;/table&#x3E;
                                                                        &#x3C;/td&#x3E;
                                                                    &#x3C;/tr&#x3E;
                                                                    &#x3C;!-- END Button --&#x3E;
                                                                &#x3C;/table&#x3E;
                                                            &#x3C;/th&#x3E;
                                                        &#x3C;/tr&#x3E;
                                                    &#x3C;/table&#x3E;
                                                &#x3C;/td&#x3E;
                                            &#x3C;/tr&#x3E;
                                        &#x3C;/table&#x3E;
                                    &#x3C;/td&#x3E;
                                &#x3C;/tr&#x3E;
                            &#x3C;/table&#x3E;
                            &#x3C;!-- END Two Columns / Articles --&#x3E;
                            &#x3C;!-- Footer --&#x3E;
                            &#x3C;table width=&#x22;100%&#x22; border=&#x22;0&#x22; cellspacing=&#x22;0&#x22; cellpadding=&#x22;0&#x22;&#x3E;
                                &#x3C;tr&#x3E;
                                    &#x3C;td class=&#x22;p30-15 bbrr&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding: 50px 30px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;border-radius: 0px 0px 26px 26px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22; bgcolor=&#x22;#0e264b&#x22;&#x3E;
                                        &#x3C;table width=&#x22;100%&#x22; border=&#x22;0&#x22; cellspacing=&#x22;0&#x22; cellpadding=&#x22;0&#x22;&#x3E;
                                            &#x3C;tr&#x3E;
                                                &#x3C;td align=&#x22;center&#x22; style=&#x22;padding-bottom: 30px;&#x22;&#x3E;
                                                    &#x3C;table border=&#x22;0&#x22; cellspacing=&#x22;0&#x22; cellpadding=&#x22;0&#x22;&#x3E;
                                                        &#x3C;tr&#x3E;
                                                            &#x3C;td class=&#x22;img&#x22; width=&#x22;55&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 0pt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 0pt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: left;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                                &#x3C;a href=&#x22;https://twitter.com/{{twitter}}&#x22;
                                                                    target=&#x22;_blank&#x22;&#x3E;&#x3C;img
                                                                        src=&#x22;https://lh3.googleusercontent.com/proxy/bFPcNOI_t9PZfzL-OA75bdQIHanf4kqf8u3OzN9dioehIDfOr3LF68ESn5md3ztUTlaEgwrAvJnRB2zdsikLzJ95qbFCSP4&#x22;
                                                                        width=&#x22;38&#x22; height=&#x22;38&#x22; border=&#x22;0&#x22; alt=&#x22;&#x22; /&#x3E;&#x3C;/a&#x3E;
                                                            &#x3C;/td&#x3E;
                                                            &#x3C;td class=&#x22;img&#x22; width=&#x22;55&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 0pt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 0pt;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: left;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                                &#x3C;a href=&#x22;https://github.com/{{github}}&#x22;
                                                                    target=&#x22;_blank&#x22;&#x3E;&#x3C;img
                                                                        src=&#x22;https://pngimg.com/uploads/github/github_PNG40.png&#x22;
                                                                        width=&#x22;38&#x22; height=&#x22;38&#x22; border=&#x22;0&#x22; alt=&#x22;&#x22; /&#x3E;&#x3C;/a&#x3E;
                                                            &#x3C;/td&#x3E;
                                                        &#x3C;/tr&#x3E;
                                                    &#x3C;/table&#x3E;
                                                &#x3C;/td&#x3E;
                                            &#x3C;/tr&#x3E;
                                            &#x3C;tr&#x3E;
                                                &#x3C;td class=&#x22;text-footer1 pb10&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #c1cddc;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-family: &#x27;Muli&#x27;, Arial, sans-serif;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 16px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 20px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: center;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding-bottom: 10px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                    Ieuan Walker
                                                &#x3C;/td&#x3E;
                                            &#x3C;/tr&#x3E;
                                            &#x3C;tr&#x3E;
                                                &#x3C;td class=&#x22;text-footer2&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #8297b3;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-family: &#x27;Muli&#x27;, Arial, sans-serif;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 12px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 26px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: center;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                                    {{address}}
                                                &#x3C;/td&#x3E;
                                            &#x3C;/tr&#x3E;
                                        &#x3C;/table&#x3E;
                                    &#x3C;/td&#x3E;
                                &#x3C;/tr&#x3E;
                                &#x3C;tr&#x3E;
                                    &#x3C;td class=&#x22;text-footer3 p30-15&#x22; style=&#x22;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;padding: 40px 30px 0px 30px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;color: #475c77;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-family: &#x27;Muli&#x27;, Arial, sans-serif;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;font-size: 12px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;line-height: 18px;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;text-align: center;
&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x22;&#x3E;
                                        &#x3C;a href=&#x22;#&#x22; target=&#x22;_blank&#x22; class=&#x22;link2-u&#x22;
                                            style=&#x22;color: #475c77; text-decoration: underline;&#x22;&#x3E;&#x3C;span class=&#x22;link2-u&#x22;
                                                style=&#x22;color: #475c77; text-decoration: underline;&#x22;&#x3E;Unsubscribe&#x3C;/span&#x3E;&#x3C;/a&#x3E;
                                        from this mailing list.
                                    &#x3C;/td&#x3E;
                                &#x3C;/tr&#x3E;
                            &#x3C;/table&#x3E;
                            &#x3C;!-- END Footer --&#x3E;
                        &#x3C;/td&#x3E;
                    &#x3C;/tr&#x3E;
                &#x3C;/table&#x3E;
            &#x3C;/td&#x3E;
        &#x3C;/tr&#x3E;
    &#x3C;/table&#x3E;
&#x3C;/body&#x3E;

&#x3C;/html&#x3E;

</textarea>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-testdata" role="tabpanel" aria-labelledby="nav-testdata-tab">
                <div class="codemirror-wrapper">
                    <textarea id="json-textarea" onchange="UpdateResult()">
{
    &#x22;name&#x22;: &#x22;Ieuan Walker&#x22;,
    &#x22;twitter&#x22;: &#x22;IeuanTWalker&#x22;,
    &#x22;github&#x22;: &#x22;IeuanWalker&#x22;,
    &#x22;address&#x22;: &#x22;Cardiff, United Kingdom&#x22;
}
                    </textarea>
                </div>
            </div>
            <div class="tab-pane fade h-100" id="nav-result" role="tabpanel" aria-labelledby="nav-result-tab">
                <div class="codemirror-wrapper">
                    <textarea id="result-textarea" onchange="UpdatePreview()"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div id="preview" class="split content split-horizontal">
        <iframe id="preview-iframe"></iframe>
    </div>
</div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.3.5/split.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>


    <script src="~/lib/codemirror/lib/codemirror.js"></script>
    <script src="~/lib/codemirror/mode/css/css.js"></script>
    <script src="~/lib/codemirror/mode/xml/xml.js"></script>
    <script src="~/lib/codemirror/mode/htmlmixed/htmlmixed.js"></script>


    <script src="~/lib/codemirror/mode/javascript/javascript.js"></script>
<!-- Lint -->
<!--<link rel="stylesheet" href="~/lib/codemirror/addon/lint/lint.css" />
<script src="~/lib/codemirror/addon/lint/lint.js"></script>
<script src="~/lib/codemirror/addon/lint/json-lint.js"></script>-->
<!-- Theme -->
<!--<link rel="stylesheet" href="~/lib/codemirror/theme/eclipse.css" />-->
<!-- Hints -->
<!--<link rel="stylesheet" href="~/lib/codemirror/addon/hint/show-hint.css" />
<script src="~/lib/codemirror/addon/hint/show-hint.js"></script>
<script src="~/lib/codemirror/addon/hint/html-hint.js"></script>
<script src="~/lib/codemirror/addon/hint/xml-hint.js"></script>-->
<!-- Full screen -->
<!--<link rel="stylesheet" href="~/lib/codemirror/addon/display/fullscreen.css" />
<script src="~/lib/codemirror/addon/display/fullscreen.js"></script>-->
<!-- Active line -->
<!--<script src="~/lib/codemirror/addon/selection/active-line.js"></script>


<script>
        Split(['#code', '#preview'], {
            sizes: [30, 70],
            gutterSize: 10,
            cursor: 'row-resize',
        });

        var htmlEditor, jsonEditor, htmlEditor;
        $(document).ready(function () {
            htmlEditor = CodeMirror.fromTextArea(document.getElementById("html-textarea"), {
                lineNumbers: true,
                matchBrackets: true,
                mode: "htmlmixed",
                htmlMode: true,
                autocorrect: true,
                lineWrapping: false,
                extraKeys: {
                    "F11": function (cm) {
                        cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                    },
                    "Esc": function (cm) {
                        if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                    },
                    "Ctrl-Space": "autocomplete"
                },
                hint: CodeMirror.hint.htmlHint
            });
            htmlEditor.on("change", function (htmlEditor, change) {
                UpdateResult();
            });

            jsonEditor = CodeMirror.fromTextArea(document.getElementById("json-textarea"), {
                lineNumbers: true,
                border: true,
                theme: "eclipse",
                mode: "application/json",
                gutters: ["CodeMirror-lint-markers"],
                styleActiveLine: true,
                lint: true,
                extraKeys: {
                    "F11": function (cm) {
                        cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                    },
                    "Esc": function (cm) {
                        if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                    }
                },
            });
            jsonEditor.on("change", function (jsonEditor, change) {
                UpdateResult();
            });

            resultEditor = CodeMirror.fromTextArea(document.getElementById("result-textarea"), {
                lineNumbers: true,
                matchBrackets: true,
                mode: "xml",
                htmlMode: true,
                autocorrect: true,
                lineWrapping: false,
                readOnly: true,
                extraKeys: {
                    "F11": function (cm) {
                        cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                    },
                    "Esc": function (cm) {
                        if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                    }
                },
            });
            resultEditor.on("change", function (resultEditor, change) {
                UpdatePreview();
            });

      function UpdateResult() {
            var template = Handlebars.compile(htmlEditor.getValue());
            var compiled = template(JSON.parse(jsonEditor.getValue()));
            resultEditor.getDoc().setValue(compiled);
        }
            UpdateResult();
        });
        //when the bootstrap tab is fully shown, call codemirror's refresh().
        //Also, if you use jquery-UI, it's gonna be different here.
        $('.nav-tabs a').on('shown.bs.tab', function () {
            htmlEditor.refresh();
            jsonEditor.refresh();
            resultEditor.refresh();
        });

        function UpdateResult() {
            var template = Handlebars.compile(htmlEditor.getValue());
            var compiled = template(JSON.parse(jsonEditor.getValue()));
            resultEditor.getDoc().setValue(compiled);
        }

        function UpdatePreview() {
            document.getElementById("preview-iframe").src = "data:text/html;charset=utf-8," + escape(resultEditor.getValue());
        }


        var snippets = [
            { text: 'const', displayText: 'const declarations' },
            { text: 'let', displayText: 'let declarations' },
            { text: 'var', displayText: 'var declarations' }];

        function snippet() {
            CodeMirror.showHint(codemirror, function () {
                var cursor = codemirror.getCursor();
                var token = codemirror.getTokenAt(cursor);
                var start = token.start;
                var end = cursor.ch;
                var line = cursor.line;
                var currentWord = token.string;
                // 入力した文字列をスニペット配列から探す
                var list = snippets.filter(function (item) {
                    return item.text.indexOf(currentWord) >= 0;
                });
                return {
                    list: list.length ? list : snippets,
                    from: CodeMirror.Pos(line, start),
                    to: CodeMirror.Pos(line, end)
                };

            }, { completeSingle: false });
        }
    </script>
}-->
