a:focus,
a:active,
a:hover,
a {
  box-shadow: none !important;
  text-decoration: none; }

.user-select-none {
  user-select: none; }

.text-caption {
  color: #546b81;
  font-size: small; }

.docs-container {
  min-height: 100vh; }

.content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 4rem;
  display: flex;
  margin-left: 12rem;
  margin-top: 3.8rem;
  flex-direction: column; }
  .content .container {
    margin-left: 0;
    padding-bottom: 1.5rem; }
  .content .s-title,
  .content .s-subtitle {
    line-height: 1.8rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: static; }
  .content .column {
    padding: .4rem; }

@supports (position: -webkit-sticky) or (position: sticky) {
  .content .s-title,
  .content .s-subtitle {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99; }
    .content .s-title::before,
    .content .s-subtitle::before {
      background: #fff;
      bottom: 0;
      content: "";
      display: block;
      left: -10px;
      position: absolute;
      right: -10px;
      top: -5px;
      z-index: -1; } }

@media (max-width: 960px) {
  .content {
    min-width: auto;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .content .s-title,
    .content .s-subtitle {
      padding-top: 5rem;
      position: static; }
      .content .s-title::before,
      .content .s-subtitle::before {
        content: none; } }

.sidebar .nav {
  bottom: 1.5rem;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding: .5rem 1.5rem;
  position: fixed;
  top: 3.5rem;
  width: 12rem; }
  .sidebar .nav .nav-item {
    margin-bottom: .75rem;
    user-select: none;
    color: #455060;
    font-size: .65rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: .2rem .4rem; }
    .sidebar .nav .nav-item:hover {
      color: #4b48d6;
      cursor: pointer; }

.sidebar .accordion label {
  cursor: pointer;
  user-select: none; }

.sidebar .accordion input:checked + label {
  color: #4b48d6; }

.menu-item {
  font-size: .7rem;
  padding-left: 1rem; }
  .menu-item a {
    background: transparent;
    color: #66758c;
    font-weight: 400;
    text-transform: none;
    display: inline-block; }

.sidebar-mobile-icon {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  padding: 20px; }

.off-canvas {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
  flex-flow: nowrap;
  height: 100%;
  position: relative;
  width: 100%; }
  .off-canvas .off-canvas-toggle {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .off-canvas .off-canvas-toggle i {
      font-size: 25px; }
  .off-canvas .off-canvas-sidebar {
    background: #f7f8f9;
    bottom: 0;
    left: 0;
    min-width: 10rem;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: transform .25s;
    z-index: 200; }
    .off-canvas .off-canvas-sidebar:target, .off-canvas .off-canvas-sidebar.active {
      transform: translateX(0); }
      .off-canvas .off-canvas-sidebar:target ~ .off-canvas-overlay, .off-canvas .off-canvas-sidebar.active ~ .off-canvas-overlay {
        display: block;
        z-index: 100; }
  .off-canvas .off-canvas-overlay {
    background: rgba(48, 55, 66, 0.1);
    border-color: transparent;
    border-radius: 0;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%; }

.brand {
  color: #5755d9;
  height: 2rem;
  left: 1.5rem;
  position: fixed;
  top: .85rem; }
  .brand .logo {
    align-items: center;
    border-radius: .1rem;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    font-size: .7rem;
    height: 2rem;
    padding: .2rem;
    width: auto;
    outline: none;
    text-decoration: none; }
    .brand .logo h2 {
      display: inline-block;
      font-size: .8rem;
      font-weight: 700;
      line-height: 1.5rem;
      margin-bottom: 0;
      margin-left: .5rem;
      margin-right: .3rem; }

@media (max-width: 960px) {
  .sidebar-mobile-icon {
    background: rgba(247, 248, 249, 0.65);
    left: 0; } }

@media (min-width: 960px) {
  .off-canvas.off-canvas-sidebar-show .off-canvas-toggle {
    display: none; }
  .off-canvas.off-canvas-sidebar-show .off-canvas-sidebar {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    transform: none; }
  .off-canvas.off-canvas-sidebar-show .off-canvas-overlay {
    display: none !important; }
  .off-canvas .off-canvas-toggle {
    z-index: 300; }
  .sidebar .brand {
    margin: .85rem 1.5rem;
    padding: 0;
    position: static; }
  .sidebar .nav {
    margin-top: 1rem;
    position: static; }
  .sidebar .menu .menu-item > a {
    padding: .3rem .4rem; } }

footer {
  color: #bcc3ce;
  padding: .25rem;
  margin-top: auto; }
  footer a {
    color: #66758c; }

*::-webkit-scrollbar-track {
  background-color: #f7f8f9; }

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: green; }

*::-webkit-scrollbar-thumb {
  background-color: #3634d2;
  transition: all 0.5s ease; }
  *::-webkit-scrollbar-thumb:hover {
    background-color: #2826ab; }

.card {
  text-decoration: none;
  color: #455060;
  box-shadow: 0 0.25rem 1rem hls(217, 15.8, 22.4); }
  .card:hover {
    border-color: #455060; }

.field-validation-error {
  color: #e85600; }

.chars-length {
  background-color: whitesmoke;
  display: inline-block;
  margin: 4px 0 0;
  padding: 5px 10px;
  text-align: center;
  float: right;
  font-size: smaller; }

.warn {
  background-color: firebrick;
  color: #fff; }

.tags {
  --tag-bg: #5755d9;
  --tag-hover: #3634d2;
  --tag-text-color: #FFF;
  --tags-border-color: silver;
  --tag-text-color--edit: #111;
  --tag-remove-bg: var(--tag-hover);
  --tag-pad: .6em 1em;
  --tag-inset-shadow-size: 1.3em;
  --tag-remove-btn-bg--hover: #3634d2;
  display: inline-block;
  min-width: 0;
  border: none; }
  .tags .tagify__tag {
    margin-top: 0;
    margin: 0px 5px 5px 5px; }
    .tags .tagify__tag:hover .tagify__tag__removeBtn {
      color: #fff;
      transform: none;
      opacity: 1;
      margin-left: -1ch; }
  .tags .tagify__tag__removeBtn {
    opacity: 0;
    transform: translateX(-6px) scale(0.5);
    margin-left: -3ch;
    transition: 0.12s; }
  .tags + button {
    color: #3634d2;
    font: 1.4em/1.65 Arial;
    border: 0;
    background: none;
    box-shadow: 0 0 0 1px inset currentColor;
    width: 1.65em;
    height: 1.65em;
    cursor: pointer;
    outline: none;
    transition: 0.1s ease-out;
    margin: 0px 0 5px 0px;
    vertical-align: top; }
    .tags + button:hover {
      box-shadow: 0 0 0 5px inset currentColor; }
  .tags .tagify__input {
    display: none; }

.tags.tagify--hasMaxTags + button {
  display: none; }

.accordian-table header {
  display: grid;
  grid-template-columns: auto 260px;
  grid-column-gap: 6px;
  padding: 12px 0 12px 0; }
  .accordian-table header p {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
    color: #7f90a0;
    text-transform: uppercase;
    letter-spacing: 1px; }

.accordian-table .accordion-wrapper {
  background-color: #fff;
  border: 1px solid #e9ecef;
  border-radius: 2px; }
  .accordian-table .accordion-wrapper .accordion {
    border-bottom: 1px solid #e9ecef; }
    .accordian-table .accordion-wrapper .accordion:last-child {
      border: none; }
  .accordian-table .accordion-wrapper .accordion-header {
    display: grid;
    grid-template-columns: min-content auto 200px 38px;
    grid-column-gap: 6px;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 12px 12px 12px;
    cursor: pointer; }
    .accordian-table .accordion-wrapper .accordion-header .btn {
      border: none;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center; }
  .accordian-table .accordion-wrapper .accordion-body {
    background-color: #f7f8f9;
    margin: 0px; }
    .accordian-table .accordion-wrapper .accordion-body > div {
      padding: 20px; }

.cd-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
  z-index: 999; }
  .cd-panel::after {
    /* overlay layer */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    -webkit-transition: background 0.3s 0.3s;
    transition: background 0.3s 0.3s; }

.cd-panel.cd-panel--is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  transition: visibility 0s 0s; }

.cd-panel.cd-panel--is-visible::after {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.3s 0s;
  transition: background 0.3s 0s; }

.cd-panel__close {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 60px;
  margin: 20px;
  /* image replacement */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }
  .cd-panel__close::before, .cd-panel__close::after {
    /* close icon created in CSS */
    content: '';
    position: absolute;
    top: 22px;
    left: 20px;
    height: 3px;
    width: 20px;
    background-color: lightgray;
    /* this fixes a bug where pseudo elements are slighty off position */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .cd-panel__close::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .cd-panel__close::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .cd-panel__close:hover::before, .cd-panel__close:hover::after {
    background-color: #3634d2;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .cd-panel__close:hover::before {
    -webkit-transform: rotate(220deg);
    -ms-transform: rotate(220deg);
    transform: rotate(220deg); }
  .cd-panel__close:hover::after {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg); }

.cd-panel--is-visible .cd-panel__close::before {
  -webkit-animation: cd-close-1 0.6s 0.3s;
  animation: cd-close-1 0.6s 0.3s; }

.cd-panel--is-visible .cd-panel__close::after {
  -webkit-animation: cd-close-2 0.6s 0.3s;
  animation: cd-close-2 0.6s 0.3s; }

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); } }

@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

.cd-panel__container {
  position: fixed;
  width: 90%;
  height: 100%;
  top: 0;
  background: #fff;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s; }

.cd-panel--from-right .cd-panel__container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.cd-panel--from-left .cd-panel__container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.cd-panel--is-visible .cd-panel__container {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

@media only screen and (min-width: 768px) {
  .cd-panel__container {
    width: 70%; } }

@media only screen and (min-width: 1170px) {
  .cd-panel__container {
    width: 50%; } }

@media only screen and (min-width: 1470px) {
  .cd-panel__container {
    width: 40%; } }

.cd-panel__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px 5%;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch; }

.empty-template {
  background-color: #fff;
  min-height: 150px;
  margin-top: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px 10px 70px 10px; }
  .empty-template p {
    text-align: center; }

html, body {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column; }

.grid {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 0.5fr 10px 1fr; }

.template-divider {
  grid-area: 1 / 2;
  height: auto;
  margin: 0px;
  opacity: 0.5;
  background-color: lightgray;
  cursor: col-resize;
  transition: opacity 0.3s; }
  .template-divider:hover, .template-divider:active {
    opacity: 1; }

.preview {
  display: flex;
  flex-direction: column; }

.subject {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid lightgray; }
  .subject p {
    margin: 0; }

.demo-content,
iframe {
  flex-grow: 1;
  display: flex; }

.template-navbar {
  margin: 0;
  background-color: white;
  display: flex;
  align-items: center;
  height: 80px;
  border-radius: 2px 2px 0px 0px;
  border-bottom: 1px solid lightgray; }
  .template-navbar a {
    text-decoration: none;
    color: black; }
    .template-navbar a:hover, .template-navbar a:focus, .template-navbar a:active {
      text-decoration: none; }

.template-navbar-buttons {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 30px;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  overflow: hidden;
  transition: 0.2s ease;
  color: black; }
  .template-navbar-buttons:hover {
    background-color: #f1f1fc; }
    .template-navbar-buttons:hover p {
      opacity: 1; }
  .template-navbar-buttons.active {
    border-bottom: 5px solid #3634d2; }
    .template-navbar-buttons.active p {
      color: #686868;
      text-shadow: 0.5px 0px 0px #555, -0.5px 0px 0px #555; }
  .template-navbar-buttons p {
    opacity: 0.6;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
    align-items: center;
    font-weight: 400;
    justify-content: center;
    transition: 0.5s ease;
    margin: 0; }
  .template-navbar-buttons.active p {
    opacity: 1; }

/* tab content */
.tabcontent {
  display: none; }

.tabcontent.active {
  display: block; }

.test-responsive-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid lightgray; }
  .test-responsive-navbar ul {
    list-style: none;
    margin: 0 auto;
    display: block;
    padding: 0; }
    .test-responsive-navbar ul li {
      display: inline; }
      .test-responsive-navbar ul li a {
        text-indent: -9999px;
        font-size: 0;
        margin: 0 15px;
        box-shadow: none; }
        .test-responsive-navbar ul li a svg {
          width: 60px;
          height: 50px;
          pointer-events: all;
          color: #999; }
      .test-responsive-navbar ul li a[data-portsize*="320"] svg {
        width: 14px; }
      .test-responsive-navbar ul li a[data-portsize*="768"] svg {
        width: 20px; }
      .test-responsive-navbar ul li a[data-portsize*="1024"] svg {
        width: 28px; }
      .test-responsive-navbar ul li a[data-portsize*="reset"] svg {
        width: 41px; }
      .test-responsive-navbar ul li svg:hover {
        color: #ccc;
        transition: color 0.3s; }
      .test-responsive-navbar ul li .fr-active {
        box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2); }
        .test-responsive-navbar ul li .fr-active svg {
          color: #3634d2; }

svg .sg-fill {
  fill: transparent;
  transition: fill 0.3s; }

.demo-content {
  width: 100%;
  display: flex;
  margin: 0 auto;
  background-color: #ccc;
  border: 12px solid #ddd; }

textarea {
  border: 1px solid rgba(73, 73, 73, 0.5);
  border-radius: 3px;
  font-family: "Source Code Pro", monospace;
  font-size: 13px;
  line-height: 20px;
  padding: 4px; }

.CodeMirror {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100% !important;
  color: #4a4a4a;
  font-family: "Source Code Pro", monospace;
  font-size: 13px;
  line-height: 20px; }

.CodeMirror-fullscreen {
  position: fixed !important; }

.CodeMirror-gutters {
  border-right: 0;
  padding-right: 1px; }

.CodeMirror-linenumber {
  font-family: "Source Code Pro", monospace;
  font-size: 13px;
  line-height: 20px; }

.CodeMirror-activeline-gutter {
  background: rgba(87, 193, 250, 0.15); }

.cm-s-eclipse .CodeMirror-activeline-background {
  background: rgba(87, 193, 250, 0.15); }

.CodeMirror-lint-marker-error {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M 0 8 C 0 12.416 3.584 16 8 16 C 12.416 16 16 12.416 16 8 C 16 3.584 12.416 0 8 0 C 3.584 0 0 3.584 0 8 Z" fill="#d54c53" /><path d="M 8 7.0807611 L 4.92408548 4.00484658 L 4.0048467 4.92408537 L 7.08076122 7.99999988 L 4.0048467 11.0759144 L 4.92408548 11.9951532 L 8 8.91923866 L 11.0759145 11.9951532 L 11.9951533 11.0759144 L 8.91923878 7.99999988 L 11.9951533 4.92408537 L 11.0759145 4.00484658 L 8 7.0807611 Z" fill="#fff" /></svg>') no-repeat center center;
  margin-left: 2px;
  margin-top: -4px; }

.CodeMirror-lint-tooltip {
  background: white;
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  line-height: 16px;
  padding: 8px;
  border: none;
  border-radius: 2px;
  box-shadow: rgba(74, 74, 74, 0.25) 0 0 0 1px, rgba(0, 0, 0, 0.1) 0 1px 6px 0; }

.CodeMirror-lint-message-error {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M 0 8 C 0 12.416 3.584 16 8 16 C 12.416 16 16 12.416 16 8 C 16 3.584 12.416 0 8 0 C 3.584 0 0 3.584 0 8 Z" fill="#d54c53" /><path d="M 8 7.0807611 L 4.92408548 4.00484658 L 4.0048467 4.92408537 L 7.08076122 7.99999988 L 4.0048467 11.0759144 L 4.92408548 11.9951532 L 8 8.91923866 L 11.0759145 11.9951532 L 11.9951533 11.0759144 L 8.91923878 7.99999988 L 11.9951533 4.92408537 L 11.0759145 4.00484658 L 8 7.0807611 Z" fill="#fff" /></svg>') no-repeat 0 0;
  padding-left: 24px; }

.cm-s-eclipse span.cm-string {
  color: #1997b5; }

.cm-s-eclipse span.cm-string.cm-property {
  color: #53b10b; }
