a:focus {
  box-shadow: none !important; }

.docs-container {
  min-height: 100vh; }

.content {
  -ms-flex: 1 1 auto;
  height: 100%;
  flex: 1 1 auto;
  padding: 0 4rem;
  width: calc(100vw - 12rem);
  display: flex;
  margin-left: 12rem;
  margin-top: 3.8rem;
  flex-direction: column; }
  .content .container {
    margin-left: 0;
    padding-bottom: 1.5rem; }
  .content .s-title,
  .content .s-subtitle {
    line-height: 1.8rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: static; }
  .content .column {
    padding: .4rem; }

@supports (position: -webkit-sticky) or (position: sticky) {
  .content .s-title,
  .content .s-subtitle {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99; }
    .content .s-title::before,
    .content .s-subtitle::before {
      background: #fff;
      bottom: 0;
      content: "";
      display: block;
      left: -10px;
      position: absolute;
      right: -10px;
      top: -5px;
      z-index: -1; } }

@media (max-width: 960px) {
  .content {
    min-width: auto;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .content .s-title,
    .content .s-subtitle {
      padding-top: 5rem;
      position: static; }
      .content .s-title::before,
      .content .s-subtitle::before {
        content: none; } }

.sidebar .nav {
  bottom: 1.5rem;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  padding: .5rem 1.5rem;
  position: fixed;
  top: 3.5rem;
  width: 12rem; }

.sidebar .accordion {
  margin-bottom: .75rem; }
  .sidebar .accordion a {
    text-decoration: none; }
  .sidebar .accordion input ~ .accordion-header {
    color: #455060;
    font-size: .65rem;
    font-weight: 600;
    text-transform: uppercase; }
  .sidebar .accordion input:checked ~ .accordion-header {
    color: #505c6e; }
  .sidebar .accordion input .menu .menu-item {
    font-size: .7rem;
    padding-left: 1rem; }
    .sidebar .accordion input .menu .menu-item a {
      background: transparent;
      color: #66758c;
      display: inline-block; }

.sidebar-mobile-icon {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  padding: 20px; }

.off-canvas {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
  flex-flow: nowrap;
  height: 100%;
  position: relative;
  width: 100%; }
  .off-canvas .off-canvas-toggle {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .off-canvas .off-canvas-toggle i {
      font-size: 25px; }
  .off-canvas .off-canvas-sidebar {
    background: #f7f8f9;
    bottom: 0;
    left: 0;
    min-width: 10rem;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: transform .25s;
    z-index: 200; }
    .off-canvas .off-canvas-sidebar:target, .off-canvas .off-canvas-sidebar.active {
      transform: translateX(0); }
      .off-canvas .off-canvas-sidebar:target ~ .off-canvas-overlay, .off-canvas .off-canvas-sidebar.active ~ .off-canvas-overlay {
        display: block;
        z-index: 100; }
  .off-canvas .off-canvas-overlay {
    background: rgba(48, 55, 66, 0.1);
    border-color: transparent;
    border-radius: 0;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%; }

.brand {
  color: #5755d9;
  height: 2rem;
  left: 1.5rem;
  position: fixed;
  top: .85rem; }
  .brand .logo {
    align-items: center;
    border-radius: .1rem;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    font-size: .7rem;
    height: 2rem;
    padding: .2rem;
    width: auto;
    outline: none;
    text-decoration: none; }
    .brand .logo h2 {
      display: inline-block;
      font-size: .8rem;
      font-weight: 700;
      line-height: 1.5rem;
      margin-bottom: 0;
      margin-left: .5rem;
      margin-right: .3rem; }

@media (max-width: 960px) {
  .sidebar-mobile-icon {
    background: rgba(247, 248, 249, 0.65);
    left: 0; } }

@media (min-width: 960px) {
  .off-canvas.off-canvas-sidebar-show .off-canvas-toggle {
    display: none; }
  .off-canvas.off-canvas-sidebar-show .off-canvas-sidebar {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    transform: none; }
  .off-canvas.off-canvas-sidebar-show .off-canvas-overlay {
    display: none !important; }
  .off-canvas .off-canvas-toggle {
    z-index: 300; }
  .sidebar .brand {
    margin: .85rem 1.5rem;
    padding: 0;
    position: static; }
  .sidebar .nav {
    margin-top: 1rem;
    position: static; }
  .sidebar .menu .menu-item > a {
    padding: .3rem .4rem; } }

footer {
  color: #bcc3ce;
  padding: .25rem;
  margin-top: auto; }
  footer a {
    color: #66758c; }
