.template-navbar {
    margin: 0;
    background-color: white;
    display: flex;
    align-items: center;
    height: 80px;
    border-radius: 2px 2px 0px 0px;
    border-bottom: 1px solid lightgray;

    a {
        text-decoration: none;
        color: black;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }

    .settings {
        margin-left: auto;
        padding: 0px 0.5rem;
    }
}

.template-navbar-buttons {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 30px;
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    overflow: hidden;
    transition: 0.2s ease;
    color: black;

    &:hover {
        background-color: #f1f1fc;

        p {
            opacity: 1;
        }
    }

    &.active {
        border-bottom: 5px solid #3634d2;

        p {
            color: #686868;
            text-shadow: 0.5px 0px 0px #555, -0.5px 0px 0px #555;
        }
    }

    p {
        opacity: 0.6;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
        align-items: center;
        font-weight: 400;
        justify-content: center;
        transition: 0.5s ease;
        margin: 0;
    }

    &.active p {
        opacity: 1;
    }
}