<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - Email.io</title>
    <link rel="stylesheet" href="~/css/main.css" />

    @RenderSection("Styles", required: false)
</head>

<body>
    @RenderBody()
    <script src="~/js./bundle.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
