@{
    @inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
}
<div class="sidebar-mobile-icon">
    <a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar"><i class="icon icon-menu"></i></a>
</div>
<div class="sidebar off-canvas-sidebar" id="sidebar">
    <div class="brand">
        <a class="logo" asp-page="/Index">
            <h2>Email.io</h2><small class="label label-secondary text-bold">@hostingEnv.EnvironmentName</small>
        </a>
    </div>
    <div class="nav">
        <div class="nav-item accordion">
            <input id="accordion-getting-started" type="checkbox" hidden="" />
            <label for="accordion-getting-started">Getting started</label>
            <div class="accordion-body">
                <ul class="menu menu-nav">
                    <li class="menu-item">
                        <a href="../getting-started/installation.html">Installation</a>
                    </li>
                    <li class="menu-item">
                        <a href="../getting-started/custom.html">Custom version</a>
                    </li>
                    <li class="menu-item">
                        <a href="../getting-started/browsers.html">Browser support</a>
                    </li>
                    <li class="menu-item">
                        <a href="../getting-started/whatsnew.html">What's new</a>
                    </li>
                </ul>
            </div>
        </div>
        <a class="nav-item" asp-area="" asp-page="/Project/Index">Projects</a>
        <a class="nav-item" asp-area="" asp-page="/Template1">Test template</a>
    </div>
</div>
<a class="off-canvas-overlay" href="#close"></a>