@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@section styles{
}

<h2>Sent emails</h2>
<table id="sentEmailTable" class="table">
    <thead>
        <tr>
            <th>
                Template
            </th>
            <th>
                Status
            </th>
            <th>
                To address(s)
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#sentEmailTable').DataTable({
                "proccessing": true,
                "serverSide": true,
                "ajax": {
                    url: "/Components/SentEmails",
                    type: 'POST',
                    headers: { 'RequestVerificationToken': $('@Html.AntiForgeryToken()').val() }
                },
                "columnDefs": [
                    { "name": "Template", "data": "template", "targets": 0, "visible": false },
                    { "name": "Status", "data": "status", "targets": 1 },
                    { "name": "ToAddresses", "data": "toAddresses", "targets": 2 }
                ],
                "order": [[0, "desc"]]
            });
        });
    </script>
}