.empty-template {
    background-color: #fff;
    min-height: 150px;
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 10px 70px 10px;

    p {
        text-align: center;
    }
}